body{
    margin: 0;
    padding: 0;
    text-align: center;
}

p{
    margin-bottom: 100px;
    font-weight: bolder;
    font-size: large;
}

textarea{
    margin-bottom: 0px;
    
}


.title{
    font-weight: bolder;
    font-size: large;
}

.start{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(190, 110, 190);
    border-radius: 30%;
    box-shadow: none;
}

.container{
    margin-top: 400px;
    text-align: middle;
    border: 5px black solid;
    height: 400px;
    padding-top: 50px;
    box-shadow: 30em;
}

.choice{
  display: block;
  margin-bottom: 30px;
  background-color: rgb(190, 110, 190);  
  border-radius: 30%;
  box-shadow: none;
}

